RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Política de privacidade
RewriteRule ^([a-zA-Z0-9\-]+)/politica-privacidade$ politica_privacidade.php?url=$1 [L,QSA]

# Página principal
RewriteRule ^([a-zA-Z0-9\-]+)$ index.php?url=$1 [L,QSA]

# Bloquear acesso direto à pasta template sem parâmetro url
RewriteCond %{QUERY_STRING} !url=
RewriteRule ^$ - [F,L]